{% extends 'base.html.twig' %}

{% block title %}Alumnoxpi
{% endblock %}

{% block body %}
	<h1>Alumnoxpi</h1>
	<div class="table-responsive">

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ alumnoxpi.id }}</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div class="container-fluid">
		<div class="row ">
			<div class="col-md-4">
				<a href="{{ path('alumnoxpi_index') }}" class="btn">Volver</a>
			</div>

			<div class="col-md-4 align-self-end">
				<a href="{{ path('alumnoxpi_edit', {'id': alumnoxpi.id}) }}" class="btn">Editar</a>
			</div>

			<div class="col-md-4 align-self-end ">
				{{ include('alumnoxpi/_delete_form.html.twig') }}
			</div</div>

		</div>
	</div>
{% endblock %}
