<!DOCTYPE html>
<html lang="es">
	{# <head>
			<meta charset="UTF-8">
			<title>
				{% block title %}Welcome!
				{% endblock %}
			</title>
			{% block stylesheets %}{% endblock %}
		</head> #}
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Repositorio Florida</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/script.js"></script>
		<link href="css/main.css" rel="stylesheet"/>
        
        {% block head %}{% endblock %}
		</head>

		<body>
			{% block body %}{% endblock %}
		</body>
</html>
