<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Repositorio Florida</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/script.js"></script>
		<link href="css/main.css" rel="stylesheet"/>
	</head>

	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark nav-color">
				<a class="navbar-brand" href="index.html"><img src="images/logo.png" style="margin-left: 45px; margin-top: -6px; margin-bottom:-9px " width="200" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>


				<div class="text-center">
					<a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Iniciar Sesión</a>
				</div>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto my-2 my-lg-0">
						<li class="nav-item"></li>
						{% if user == ""%}
							<li>
								<a class="nav-link" id="inicio" style="cursor:pointer">Iniciar Sesión</a>
							</li>
						{% endif %}
						{% if user != "" %}

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
									<h4>Hola
										{{ app.session.get("nombre_usuario") }}</h4>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href={{ path('logOut') }}>Cerrar Sesión</a>
								</div>
							</li>

						{% endif %}
					</ul>
				</div>
			</nav>

			<!-- IMAGEN PRINCIPAL -->
			<div class="pb-5 container-fluid" style="background-image: url(images/jumbotronIMG.jpg);background-size: cover">

				<div class="jumbotron-fluid text-white">

					<figure><img src="" alt=""></figure>

					<p class="lead">"El misterio de la vida no es un problema a resolver, sino una realidad a experimentar"</p>
					<p class="ml-5">Duna, Frank Herbert</p>


				</div>
			</div>
		</header>

		<section>
			<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header text-center">
							<h4 class="modal-title w-100 font-weight-bold">Iniciar Sesión</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form class="form" action="{{ url("sendlogin") }}" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
							<div class="form-group">
								<label for="user">Usuario</label>
								<input type="text" class="form-control form-control-lg rounded-0" name="user" id="user" required="">
								<div class="invalid-feedback">Introduce el nombre de usuario</div>
							</div>
							<div class="form-group">
								<label>Contraseña</label>
								<input type="password" class="form-control form-control-lg rounded-0" name="password" id="password" required="" autocomplete="new-password">
								<div class="invalid-feedback">Introduce la contraseña</div>
							</div>
							<input type="reset" value="Reset" class="button">
							<button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Acceder</button>
						</form>
						<div class="modal-footer d-flex justify-content-center">
							<button class="btn btn-default">Login</button>
						</div>
					</div>
				</div>
			</div>
			<!--/container-->
		</section>
		<div class="s010">
			<form>
				<div class="inner-form">
					<div class="basic-search">
						<div class="input-field">
							<input id="search" type="text" placeholder="Buscar..."/>
							<div class="icon-wrap">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
									<path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
								</svg>
							</div>
						</div>
					</div>
					<div class="advance-search">
						<span class="desc">BUSQUEDA AVANZADA</span>
						<div class="row">
							<div class="input-field">
								<div class="input-select">
									<select data-trigger="" name="choices-single-defaul">
										<option placeholder="" value="">Titulacion</option>
										<option>Turismo y ADE</option>
										<option>Turismo y GIHO</option>
										<option>Ingeniería Electrónica Industrial y Automática</option>
										<option>Ingeniería Mecánica</option>
										<option>Ingeniería Mecánica y Electrónica Industrial y Automática</option>
										<option>Ingeniería Mecánica</option>
										<option>Diseño y Desarrollo de Videojuegos y Experiencias Interactivas</option>
										<option>Administración y Dirección de Empresas y Título Propio en Digital Business</option>
										<option>Administración y Dirección de Empresas (nocturno)</option>
										<option>Maestro/a en Educación Infantil</option>
										<option>Maestro/a en Educación Primaria</option>
										<option>Maestro/a en Educación Infantil y Educación Primaria</option>
										<option>Actualización Grado de Maestro/a</option>
									</select>
								</div>
							</div><br>
							<div class="input-field">
								<div class="input-select">
									<select data-trigger="" name="choices-single-defaul">
										<option placeholder="" value="">Profesor responsable</option>
										<option>Belen Gil</option>
										<option>David Soler</option>
										<option>Vicent Monfort</option>
										<option>Pedro Elnabo</option>

									</select>
								</div>
							</div><br>
							<div class="input-field">
								<div class="input-select">
									<select data-trigger="" name="choices-single-defaul">
										<option placeholder="" value="">Año</option>
										<option>12/13</option>
										<option>13/14</option>
										<option>14/15</option>
										<option>15/16</option>
										<option>16/17</option>
										<option>17/18</option>
										<option>18/19</option>
										<option>19/20</option>
									</select>
								</div>
							</div>
						</div>
						<br>


						<div class="row third">
							<div class="input-field">
								<div class="group-btn">
									<button class="btn-delete" id="delete">RESTAURAR</button>
									<button class="btn-search">BUSCAR</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<script src="js/extention/choices.js"></script>
		<script>
			const customSelects = document.querySelectorAll("select");
const deleteBtn = document.getElementById('delete')
const choices = new Choices('select', {
searchEnabled: false,
itemSelectText: '',
removeItemButton: true
});
for (let i = 0; i < customSelects.length; i++) {
customSelects[i].addEventListener('addItem', function (event) {
if (event.detail.value) {
let parent = this.parentNode.parentNode
parent.classList.add('valid')
parent.classList.remove('invalid')
} else {
let parent = this.parentNode.parentNode
parent.classList.add('invalid')
parent.classList.remove('valid')
}
}, false);
}
deleteBtn.addEventListener("click", function (e) {
e.preventDefault()
const deleteAll = document.querySelectorAll('.choices__button')
for (let i = 0; i < deleteAll.length; i++) {
deleteAll[i].click();
}
});
		</script>
		{% block contenido %}{% endblock %}
		<footer class="mt-5 text-center">
			<hr>
			<address>
				Florida Universitaria Biblioteca<br>
				floridaUniversitariaBiblioteca@gmail.com
			</address>

			<ul>
				<li style="list-style: none;">
					<i><img src="" alt=""></i>
					<a href="/">Twitter</a>
				</li>
				<li style="list-style: none;">
					<i><img src="" alt=""></i>
					<a href="/food">Instagram</a>
				</li>
			</ul>

		</footer>
	</body>

</html>
