{% extends "resultados.html.twig" %}
{% block contenido %}
{% set itemsPerPage = 2 %}
{% set lowerLimit = (currentPage - 1) * itemsPerPage %}
{% set upperLimit = currentPage  * itemsPerPage %}
{% for proyecto in data %}
	{% if loop.index0 >= lowerLimit and loop.index0 < upperLimit %}

	
	
			
		</h3>

	{% endif %}
{% endfor %}
{% set totalItems = data|length %}
{% set lastPage = ( totalItems /  itemsPerPage )|round(0, 'ceil')  %}
{% set lastPageItems = ( itemsPerPage * lastPage ) - totalItems %}

{% for i in 1..lastPage %}
	{% if  i!=currentPage %}

		<a class="page-link" href="{{ path('resultados', {'currentPage':i}) }}">{{ i }}
		</a>

	{% else %}

		{{ i }}
	</a>

{% endif %}{% endfor %}{% endblock %}